.greenStyle {
  color: darkgreen;
  font-weight: bold;
}

.userClass {
  color: darkblue;
  font-weight: bold;
}

.boolSwitchClass {
  color: darkorange;
  font-weight: bold;
}

.underClass {
  text-decoration: underline;
}
